{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<h1>{{ virtual_server.name }} <small>Virtual Server</small></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#virtual_server-properties-panel-body" aria-expanded="false" aria-controls="profiles-panel-body">
		<h3 class="panel-title">Properties</h3>
	</div>
	<div class="panel-collapse collapse in" id="virtual_server-properties-panel-body">
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Name:</dt>
				<dd>{{ virtual_server.name }}</dd>
				<dt>Device Group:</dt>
				<dd>{{ virtual_server.device_group.name }} &raquo; <img src="{% static "images/"|add:active_device.status|add:".gif" %}" /> {{ active_device.name }}</dd>
{% comment "future" %}
				<dt>Partition / Path:</dt>
				<dd>{{ virtual_server.path }}</dd>
				<dt>Description:</dt>
				<dd>{{ virtual_server.description }}</dd>
				<dt>Type:</dt>
				<dd>{{ virtual_server.type }}</dd>
{% endcomment %}
				<dt>Destination:</dt>
				<dd>{{ virtual_server.destination }}</dd>
{% comment "future" %}
				<dt>Protocol:</dt>
				<dd></dd>
{% endcomment %}
				<dt>Service Port:</dt>
				<dd>{{ virtual_server.service_port }}</dd>
				<dt>Availability:</dt>
				<dd><img src="{% static "images/"|add:virtual_server.state|add:".gif" %}" /></dd>
				<dt>Features:</dt>
				<dd>
					<h4>
						<span class="label label-default">X-Forwarded-For</span>
						<span class="label label-default">SSL Offload</span>
					</h4>
				</dd>
			</dl>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#virtual_server-profiles-panel-body" aria-expanded="false" aria-controls="virtual_server-profiles-panel-body">
		<h3 class="panel-title">Profiles</h3>
	</div>
	<div class="panel-collapse collapse in" id="virtual_server-profiles-panel-body">
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt><small>Client</small> Protocol:</dt>
				<dd></dd>
				<dt><small>Server</small> Protocol:</dt>
				<dd></dd>
				<dt>HTTP:</dt>
				<dd></dd>
				<dt><small>Client</small> SSL/TLS:</dt>
				<dd></dd>
				<dt><small>Server</small> SSL/TLS:</dt>
				<dd></dd>
				<dt>SNAT:</dt>
				<dd></dd>
				<dt>OneConnect:</dt>
				<dd></dd>
				<dt>Compression:</dt>
				<dd></dd>
				<dt>Acceleration:</dt>
				<dd></dd>
				<dt>Persistence:<br /><small>(Default/Fallback)</small></dt>
				<dd></dd>
			</dl>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#virtual_server-pool-panel-body" aria-expanded="false" aria-controls="virtual_server-pool-panel-body">
		<h3 class="panel-title">Pool</h3>
	</div>
	<div class="panel-collapse collapse in" id="virtual_server-pool-panel-body">
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Name:</dt>
				<dd><a href="{% url 'ltm:pool_detail' virtual_server.pool.id %}">{{ pool.name }}</a></dd>
				<dt>Method:</dt>
				<dd><a href="#" data-toggle="tooltip" data-placement="right" title="{{ pool_meta.lb_method_description }}">{{ pool_meta.lb_method_name }}</a></dd>
				<dt>Priority Group:</dt>
				<dd>Disabled|Less than ## Available Member(s)</dd>
				<dt>Availability:</dt>
				<dd><img src="{% static "images/"|add:pool.state|add:".gif" %}" /></dd>
				<dt>Monitors:</dt>
				<dd>Requires all|at least ## Health Monitor(s)
					<ul>
						<li>standard-http-html</li>
						<li>tcp</li>
					</ul>
				</dd>
			</dl>
			{% if member_count > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Members</h3>
				</div>
				<table class="table table-striped table-hover table-condensed">
					<tr>
						<th>&nbsp;</th>
						<th>Member</th>
						<th>Node Name</th>
						<th>Ratio</th>
						<th>Priority Group</th>
						{# if monitor count > 1 #}<th>Monitors</th>
					</tr>
					{% for member in members %}
					<tr>
						<td class="text-right" width="1%"><img src="{% static "images/"|add:member.state|add:".gif" %}" /></td>
						<td>{{ member.node.address }}:{{ member.port }}</td>
						<td><a href="{% url 'ltm:node_detail' member.node.id %}">{{ member.node.name }}</a></td>
						<td>1</td>
						<td>0</td>
						{# if monitor count > 1 #}<td>
							<img src="{% static "images/status_circle_green.gif" %}" alt="standard-http-html"/>
							<img src="{% static "images/status_diamond_red.gif" %}" alt="tcp"/>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#virtual_server-irules-panel-body" aria-expanded="false" aria-controls="virtual_server-irules-panel-body">
		<h3 class="panel-title">iRules</h3>
	</div>
	<div class="panel-collapse collapse" id="virtual_server-irules-panel-body">
		<div class="panel-body">
			Coming soon!
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" href="#virtual_server-policies-panel-body" aria-expanded="false" aria-controls="virtual_server-policies-panel-body">
		<h3 class="panel-title">Policies</h3>
	</div>
	<div class="panel-collapse collapse" id="virtual_server-policies-panel-body">
		<div class="panel-body">
			Coming soon!
		</div>
	</div>
</div>
{% endblock content %}
